@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Roboto:wght@300;500;700&display=swap');


:root {
  --black-color: #000;
  --white-color: #FFF;
  --white-opacity-8: rgba(255, 255, 255, 0.80);
  --white-opacity-3: rgba(255, 255, 255, 0.30);
  --black-opacity-2: rgba(24, 24, 24, 0.25);
  --color-opacity: rgba(0, 0, 0, 0.60);
  --color-opacity-20: rgba(0, 0, 0, 0.20);
  --yellow-color: #FDDE67;
  --yellow-hover: #FFEB9D;
  --bg-main: linear-gradient(111deg, #2A4032 0.81%, #3A5E46 100%);
  --bg-brands: #181818;
  --bg-gray-1: #C5C2CA;
  --bg-gray-2: #E9E9E9;
  --white-opacity: rgba(255, 255, 255, 1);
  --green: #3B5F47;
  --radius-50: 50%;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-24: 24px;
  --font-lato: 'Lato', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-300: 300;
  --font-400: 400;
  --font-500: 500;
  --font-700: 700;
  --font-900: 900;


}

* {
  box-sizing: border-box;
}


/*       container     */


.container {
  width: 100%;
  margin: auto;
  max-width: 1320px;
  padding: 0px 15px;

}

/*       header     */

header {
  width: 100%;
  padding: 25px 0px;
  position: fixed;
  top: 0;
  display: none;
  z-index: 1900 !important;
  transition: all .6s ease-in;
}


header.show{
  background: var(--green);
}


/*        nav       */

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

/*    logo   */

.logo {
  color: #FFF;
  text-align: center;
  font-family: var(--font-lato);
  font-size: 36px;
  font-style: normal;
  font-weight: var(--font-900);
  line-height: 40px;
}


/*        list-item           */

.list-item {
  display: flex;
  flex-flow: row nowrap;
  gap: 32px;
  align-items: center;
}

.list-item li.active a{
  color: var(--white-color);
}


.list_item-link {
  color: var(--white-opacity-3);
  text-align: center;
  font-family: var(--font-lato);
  font-size: 18px;
  font-style: normal;
  font-weight: var(--font-400);
  line-height: 40px;
  text-transform: capitalize;
}


.store_link {
  width: 40px;
  height: 40px;
  border-radius: var(--radius-50);
  display: flex;
  padding: 12px;
  align-items: flex-start;
  gap: 10px;
  background-color: var(--yellow-color);
}


/*       nav-mobile         */

.nav_mobile {
  height: 48px;
  padding: 12px 15px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2100 !important;
  background: var(--yellow-color);
}


.nav_mobile-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


/*       page-1         */

.home-page {
  height: 100vh;
  background: linear-gradient(111deg, #2A4032 0.81%, #3A5E46 100%);
  position: relative;
  overflow: hidden;
}

.home-page::before {
  content: '';
  width: 196px;
  height: 196px;
  position: absolute;
  bottom: 89px;
  right: 150px;
  border-radius: 50%;
  background-color: #1B2D22;
  z-index: 0 !important;

}

.home-page::after {
  content: '';
  width: 196px;
  height: 196px;
  position: absolute;
  bottom: 165px;
  right: 27px;
  border-radius: 50%;
  background-color: #1B2D22;
  z-index: 0 !important;
}


.box-titles {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  gap: 12px;
  padding: px 15px;
  position: absolute;
  top: 27px;
  z-index: 999 !important;
}


.year {
  color: rgba(255, 255, 255, 0.30);
  font-family: Lato;
  font-size: 30px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}


.title-home {
  color: #FFF;
  font-family: var(--font-lato);
  font-size: 60px;
  font-weight: var(--font-900);
  line-height: 50px;
  text-transform: capitalize;
}


.par-title {
  color: rgba(255, 255, 255, 0.80);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.btn-collection {
  display: flex;
  padding: 16px 40px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 6px;
  background: #FDDE67;
  color: #181818;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 12px;
  transition: all .6s ease;
}

.btn-collection:hover{
  background: var(--yellow-hover);
}

.home-img {
  width: 228px;
  position: absolute;
  bottom: 0;
  right: 74px;
  z-index: 99 !important;
}

.prices{
  color: #FFF;
  text-align: center;
  font-family: Lato;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  top: 227px;
  right: 640px;
  display: none;
}

.circle{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #FDDE67;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 282px;
  right: 532px;
  z-index: 1800 !important;
  display: none;
}


.circle_off{
  color: var(--bg-brands);
  text-align: center;
  font-family: var(--font-roboto);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.dots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 70px;
  left: 150px;
  z-index: 1800 !important; 

}

.arrows{
  position: absolute;
  bottom: 20px;
  right: 629px;
  display: flex;
  align-items: center;
  gap: 10px;
  visibility: hidden;
}

.ci{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}



/*      brand logo     */
.brands{
  width: 100%;
  background: var(--black-color);
}

.wrapp_brand_mobile{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0px;
}

.wrapp_brand_desktop{
  display: none;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0px;
}


/*        page-2        */


.collection-title {
  font-family: Lato;
  font-size: 32px;
  font-weight: var(--font-400);
  line-height: 32px;
  margin: 32px 0px;
}

.card-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

}

.card-item {
  display: flex;
  flex-direction: column;

}

.card-body {
  padding: 18px 18px;
  background-color: var(--bg-gray-1);
  border-radius: 24px;
}

.row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.card-title {
  font-family: var(--font-lato);
  font-size: 18px;
  font-weight: var(--font-700);
  line-height: 18px;
  margin-bottom: 35.87px;
}

.card-image {
  width: 198px;
  height: auto;
  display: block;
  margin: auto;
  margin-bottom: -53px;

}

.card-btn {
  padding: 16px 40px;
  border-radius: 6px;
  color: var(--white-color);
  background-color: #181818;
  font-family: var(--font-lato);
  font-size: 14px;
  font-weight: var(--font-400);
  line-height: 17px;
  text-transform: capitalize;
}

.card-btn-wrapper {
  text-align: right;
  margin-bottom: 18px;
}


/* .second-card ----------> */

.second-card {
  background-color: var(--yellow-color);
  border-radius: 24px;
  margin-bottom: 24px;
  margin-top: 32px;
  display: flex;
  flex-wrap: nowrap;
}

.second-card-image {
  width: 190px;
  height: auto;
  margin-top: 29.75px;
  margin-right: -40px;
}

.second-card-body {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second-card-title {
  font-family: var(--font-lato);
  font-size: 18px;
  font-weight: var(--font-700);
  line-height: 18px;
  text-align: center;
  margin-top: 20.39px;
}

.second-card-description {
  color: var(--black-color);
  text-align: center;
  font-family: var(--font-roboto);
  font-size: 24px;
  font-weight: var(--font-700);
  line-height: normal;
  margin-top: 52.47px;
}

.second-card-btn-wrapper {
  margin-top: 56px;
}

/* second-card Ended -----------> */


/* sellers section --------> */

.sellers {
  background-color: var(--bg-gray-2);
  padding: 32px 0px;
}

.sellers-title {
  font-family: var(--font-lato);
  font-size: 32px;
  font-weight: var(--font-400);
  line-height: 32px;
  margin-bottom: 32px;
}

.sellers-list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  overflow-x: scroll;
}
.sellers-list li{
  padding: 0px 17.5px;
}
.sellers-item:nth-of-type(1){
  padding-left: 0px;
}

.sellers-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  border-radius: 24px;
}

.discount-percent{
  display: none;
}

.heart-icon {
  --size: 24px;
  width: var(--size);
  height: var(--size);
  align-self: flex-end;
}

.heart-btn {
  align-self: flex-end;
  background-color: var(--white-color);
  border: none;
  margin: 15px 12px 0px;
  cursor: pointer;
}
.sellers-item {
  font-family: var(--font-roboto);
}
.sellers-image {
  width: 133px;
  height: auto;
  object-fit: cover;
}
.clothes-image {
  padding: 0px 51.25px 42px 43px;
}

/* clothes card --------> */

.clothes-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;
}
.clothes-title {
  font-size: 16px;
  font-weight: var(--font-500);
  line-height: 19px;
  color: var(--black-color);
}

.shopping-image {
  --size: 30px;
  display: flex;
  background-color: var(--yellow-color);
  border-radius: 6px;
  padding: 7px 7px;
  width: var(--size);
  height: var(--size);
}
.clothes-price {
  color: var(--color-opacity);
  font-size: 14px;
  font-weight: var(--font-300);
  line-height: normal;
}
.discount-price {
  color: var(--color-opacity-20);
  font-size: 16px;
  font-weight: var(--font-500);
  line-height: normal;
  text-decoration: line-through;
  display: none;
}

.Products-btn {
  display: none;
}


/* sale part --------> */



.timer {
  background-color: var(--green);
  padding: 32px 0px;
}

.discount-title{
  display: none;
}
.shoes-image{
  display: none;
}

.timer-title {
  font-family: var(--font-lato);
  font-size: 32px;
  font-weight: var(--font-700);
  line-height: 32px;
  color: var(--white-color);
  text-align: center;
  margin-bottom: 32px;
}

.date-list {
  color: var(--white-color);
  font-family: var(--font-roboto);
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
}

.date-item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.date-body {
  display: flex;
  flex-direction: column;
  padding: 12px 0px;
  border-radius: 8px;
  width: 54px;
  height: 56px;
  background-color: var(--black-opacity-2);
  align-items: center;
}

.date-number {
  font-size: 24px;
  font-weight: var(700);
  line-height: 32px;
}

.date-desc {
  text-align: center;
  font-size: 12px;
  font-weight: var(--font-300);
  line-height: 14px;
  color: var(--white-opacity);
}



@media (min-width:1000px) {

  header{
    display: block;
  }

  .box-titles{
    width: 538px;
    margin-top: 150px;


  }

  .year{
    color: rgba(255, 255, 255, 0.30);
    font-family: Lato;
    font-size: 60px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
  }

  .title-home{
    color: #FFF;
    font-family: Lato;
    font-size: 112px;
    font-style: normal;
    font-weight: 900;
    line-height: 100px; /* 89.286% */
    letter-spacing: 14.56px;
    text-transform: capitalize;
  }

  .home-page::before {
    content: '';
    width: 308px;
    height: 308px;
    position: absolute;
    bottom: 184px;
    right: 244px;
    border-radius: 50%;
    background-color: #1B2D22;
    z-index: 0 !important;
  
  }
  
  .home-page::after {
    content: '';
    width: 308px;
    height: 308px;
    position: absolute;
    bottom: 77px;
    right: 415px;
    border-radius: 50%;
    background-color: #1B2D22;
    z-index: 0 !important;
  }

  .par-title{
    color: rgba(255, 255, 255, 0.80);
    font-family: Lato;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .btn-collection{
    margin-top: 25px;
  }

  .home-img{
    width: 342px;
    margin-right: 220px;
  }

  .dots{
    right: -1050px;
    bottom: 370px;
    transform: rotate(90deg);
  }

  .prices{
    display: block;
  }

  .circle{
    display: flex;
  }

  .arrows{
    visibility: visible;
  }


  nav.nav_mobile{
    visibility: hidden;
  }


  .wrapp_brand_mobile{
    display: none;
  }

  .wrapp_brand_desktop{
    display: flex;
  }


  .collection-title {
    margin: 70px 0px;
    font-size: 48px;
    line-height: 48px;
  }

  .collection {
    margin-bottom: 70px;
  }

  .card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
  }


  .card-body {
    padding: 0px;
  }

  .card-title {
    font-size: 24px;
    line-height: 40px;
    padding: 24px 0px 0px 24px;
  }

  .card-image {
    width: 100%;
    padding: 0px 110.67px;
    margin-bottom: -60px;
    margin-top: -29px;
  }

  .card-btn-wrapper {
    text-align: right;
    padding: 0px 24px 24px 0px;
  }

  /* .second-card ----------> */

  .second-card {
    display: flex;
    flex-wrap: nowrap;
    margin: 0px;
  }

  .second-card-image {
    width: 100%;
    margin-top: 30.64px;
  }

  .second-card-title {
    font-size: 24px;
    line-height: 40px;
    margin-right: 98.5px;
    margin-top: 71.87px;
    white-space: nowrap;
  }

  .second-card-description {
    font-size: 48px;
    margin-right: 96.5px;
    white-space: nowrap;
  }

  .second-card-btn-wrapper {
    margin-top: 235px;
    margin-left: 95px;
  }

  /* second-card Ended -----------> */


  /* sellers section --------> */


  .sellers {
    padding: 70px 0px;
  }
  .sellers-title {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 70px;
  }
  .sellers-list {
    overflow: hidden;
  }

  .discount-percent {
    color: var(--white-opacity);
    font-family: var(--font-roboto);
    font-size: 12px;
    font-weight: var(--font-300);
    line-height: 14.06px;
    background-color: #3A5E46;
    padding: 3px 6px;
    border-radius: 6px;
    align-items: flex-start;
    flex-direction: column;
    display: inline-flex;
    margin-right: 175px;
  }
  .sellers-image {
    width: 100%;
    height: auto;
  }
  .clothes-image {
    padding: 0px 40.63px 54.01px 48.88px;
  }
  .clothes-title {
    font-size: 18px;
    line-height: normal;
    margin-bottom: 4px;
  }
  .shopping-image {
    --size: 40px;
    border-radius: 6px;
    padding: 11px 11px;
    width: var(--size);
    height: var(--size);
  }
  .clothes-price {
    font-size: 16px;
  }
  .discount{
    display: inline-block;
    color: var(--color-opacity-20);
    font-family: var(--font-roboto);
    font-size: 16px;
    font-weight: var(--font-500);
    line-height: normal;
    text-decoration: line-through;
    margin-right: 12px;
  }
  .Products-btn {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 70px;
    font-family: var(--font-lato);
    font-size: 14px;
    font-weight: var(--font-400);
    line-height: 17px;
    padding: 16px 40px;
    background-color: var(--bg-brands);
    border-radius: 6px;
    color: var(--white-color);
    border: none;
  }



  /* sales -----------------------> */

  .timer {
    background-color: var(--green);
    padding: 78px 0px;
    background: linear-gradient(to right, #FDDE67 0%, #FDDE67 33%, #3B5F47 0%, #3B5F47 100%);
  }
  .sale-wrapper {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .discount-title{
    display: flex;
    flex-direction: column;
    font-family: var(--font-roboto);
    font-size: 64px;
    font-weight: var(--font-700);
    line-height: 48px;
    text-align: left;
    color: var(--black-color);
    margin-bottom: 32px;
  }
  .shoes-image{
    display: block;
  }

  .discount-title {
    font-family: var(--font-roboto);
    font-size: 64px;
    font-weight:var(--font-700);
    line-height: 48px;
    text-align: left;
  }

  .date-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48px;
  }

  .timer-title {
    font-family: var(--font-lato);
    font-size: 64px;
    font-weight: var(--font-700);
    line-height: 48px;
    color: var(--white-color);
    text-align: left;
    margin-bottom: 93.47px;
  }
  .date-item{
    display: flex;
    flex-direction: column;
  }

  .date-body {
    display: flex;
    flex-direction: column;
    padding: 32px 0px;
    border-radius: 8px;
    width: 153.5px;
    height: 112px;
    align-items: center;
  }

  .date-number {
    font-size: 64px;
    line-height: 48px;
  }
  .date-desc {
    font-size: 24px;
    line-height: 28.13px;
  }


}